// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--bg-menu: #D02B2B;
	--accent: #D02B2B; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #141429; // BG primary background color - (Основний фоновий колір сайту)

	// Text colors (Текстові кольори):
	// =================================================================
	--text-white: #fff; // Text primary text color - (Основний текстовий колір сайту)
	--text-black: #000; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-red: #D02B2B; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	// =================================================================
}
