@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import url(https://fonts.googleapis.com/css?family=Risque:regular);
:root {
  --bg-menu: #D02B2B;
  --accent: #D02B2B;
  --bg-primary: #141429;
  --text-white: #fff;
  --text-black: #000;
  --text-red: #D02B2B
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 450px
}
body {
  color: #000;
  line-height: 1;
  font-family: Roboto;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  line-height: normal;
  color: var(--text-white);
  background-color: var(--bg-primary)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 20px;
  background-color: var(--accent);
  border-radius: 15px;
  border: 3px solid transparent;
  transition: all .3s ease-in-out
}
.button--fw {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 15px;
  width: 100%;
  display: block;
  padding: 15px 20px;
  border: 3px solid #fff;
  caret-color: inherit;
  transition: border-color .2s ease
}
.input._form-error {
  border-color: #d02b2b
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  line-height: normal
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  line-height: normal
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  line-height: normal
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s;
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  line-height: normal
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none
}
.checkbox {
  position: relative;
  display: flex
}
.checkbox:not(:last-child) {
  margin-bottom: .3125rem
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}
.checkbox__input:focus-visible + .checkbox__label:before {
  box-shadow: 0 0 5px #000
}
.checkbox__input:checked + .checkbox__label:before {
  background: url(../img/icon/select-check.svg) center/11px no-repeat;
  background-color: #fff
}
.checkbox__label {
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  gap: 10px;
  transition: border-color .2s ease
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 2px solid #d02b2b;
  border-radius: 4px
}
.checkbox__text {
  align-self: center
}
.checkbox._form-error .checkbox__label {
  color: #d02b2b
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px
}
.select__title {
  color: inherit;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  border: 3px solid #fff;
  transition: border-color .2s ease
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 3rem;
  padding: 15px 20px;
  gap: .625rem;
  border-radius: 13px
}
.select__value > * {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 18px;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/icon/select-arow.svg) center/18px no-repeat
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%
}
.select__options {
  color: #cecece;
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 15px 15px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #fff;
  border-top: 0;
  padding: 10px 0 5px 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 10px 0
}
.select._select-open .select__body {
  background-color: #fff
}
.select._select-open .select__value {
  background-color: #e5e5e5
}
.select._form-error .select__title {
  border-color: #d02b2b
}
.select._form-focus .select__title {
  border-color: #fff
}
._select-tag {
  cursor: pointer
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px
}
.tabs__wrap {
  max-width: 715px;
  margin-right: 20px
}
.tabs__navigation {
  display: flex;
  align-items: center;
  gap: 2.1875rem
}
.tabs__button {
  border: 4px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #fff;
  box-shadow: 4px 10px 15px 0 rgba(0,0,0,.25) inset;
  overflow: hidden;
  transition: border-color,background-color .6s ease-in-out
}
.tabs__button._tab-active {
  border-color: #fff;
  background-color: transparent
}
.tabs__button img {
  width: 100%
}
.tabs__button:nth-child(1) img {
  max-width: 70px;
  margin-right: 10px
}
.tabs__button:nth-child(2) img {
  max-width: 124px;
  margin-left: 2px
}
.tabs__button:nth-child(3) img {
  max-width: 95px;
  margin-left: 14px;
  margin-bottom: 6px
}
.tabs__content {
  max-width: 552px;
  width: 100%;
  border-radius: 20px;
  border: 3px solid #fff
}
.tabs__body {
  position: relative
}
.tabs__block {
  padding: 3.625rem 2.1875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden
}
.tabs__body-info {
  max-width: 280px;
  width: 100%;
  margin-right: 20px
}
.tabs__body-info span {
  font-family: Risque;
  font-size: 2.625rem
}
.tabs__body-info p {
  margin-top: 30px;
  font-size: 1.75rem
}
.tabs__body-image {
  max-width: 160px
}
.tabs__body-image img {
  max-width: 100%
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  right: 2.5rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: .625rem
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  border-radius: .625rem;
  background-color: #100c46;
  box-shadow: 0 0 .1875rem #6257fe,0 0 1.875rem rgba(255,255,255,.8);
  border: .0625rem solid #fff;
  opacity: .6;
  transition: opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s
}
.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-.3125rem,-.125rem,0);
  transform: translate3D(-.3125rem,-.125rem,0);
  box-shadow: .3125rem .125rem .1875rem #100c46,0 0 1.875rem rgba(255,255,255,.8)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.h1-title,
.h2-title,
.h3-title {
  font-family: Risque
}
.menu-button {
  pointer-events: auto;
  cursor: pointer;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  transition: color .3s ease-in-out
}
.menu-button:active {
  color: #d02b2b
}
.menu-button::after,
.menu-button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.button--hyperion {
  overflow: hidden;
  color: #fff
}
.button--hyperion span {
  display: block;
  position: relative
}
.button--hyperion > span {
  overflow: hidden
}
.button--hyperion > span > span {
  overflow: hidden;
  mix-blend-mode: difference
}
.button--hyperion:hover > span > span {
  -webkit-animation: MoveUpInitial .2s forwards,MoveUpEnd .2s forwards .2s;
  animation: MoveUpInitial .2s forwards,MoveUpEnd .2s forwards .2s
}
@-webkit-keyframes MoveUpInitial {
  to {
    -webkit-transform: translate3d(0,-105%,0);
    transform: translate3d(0,-105%,0)
  }
}
@keyframes MoveUpInitial {
  to {
    -webkit-transform: translate3d(0,-105%,0);
    transform: translate3d(0,-105%,0)
  }
}
@-webkit-keyframes MoveUpEnd {
  from {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@keyframes MoveUpEnd {
  from {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
.button--hyperion::before {
  content: "";
  background: 0 0;
  transition: -webkit-transform .3s cubic-bezier(.7,0,.2,1);
  transition: transform .3s cubic-bezier(.7,0,.2,1);
  transition: transform .3s cubic-bezier(.7,0,.2,1),-webkit-transform .3s cubic-bezier(.7,0,.2,1);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%
}
.button--hyperion:hover::before {
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%
}
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 50
}
.header__container {
  max-width: 86.125rem
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__logo {
  max-width: 198px;
  min-width: 198px;
  position: relative;
  z-index: 10
}
.header__logo img {
  width: 100%
}
.header__menu {
  max-width: 676px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.menu-line {
  max-width: 404px;
  width: 100%;
  margin: 0 30px
}
.menu-line__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}
.menu-line__item {
  margin: 0 10px
}
.menu {
  display: flex;
  align-items: center;
  min-height: 4.375rem;
  position: relative
}
.menu__body {
  position: absolute;
  top: 0;
  right: 0;
  scale: .5;
  opacity: 0;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  pointer-events: none;
  background-color: var(--bg-menu);
  transition: all 1s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center
}
.menu__wrap {
  position: absolute;
  left: 1%;
  bottom: 8%;
  max-width: 860px;
  max-height: 738px;
  width: 100%;
  height: 100%;
  padding: 6.25rem 6.25rem 10.5rem 12.75rem;
  display: flex;
  align-items: center;
  justify-content: center
}
.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.375rem;
  opacity: 0;
  scale: 0;
  transition-property: opacity,scale;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: .3s
}
.menu__link {
  font-family: Risque;
  font-size: 32px
}
.menu__button-icon {
  background: url(../img/icon/burger-icon.svg) center/cover no-repeat;
  min-width: 3.75rem;
  min-height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: .5rem;
  padding-right: .25rem
}
html.menu-open .menu__body,
html.menu-open .menu__body::after {
  top: -652px;
  right: -637px;
  width: 95rem;
  height: 95rem;
  scale: 1;
  opacity: 1;
  pointer-events: all
}
html.menu-open .menu__list {
  opacity: 1;
  scale: 1
}
.icon-menu {
  display: block;
  position: relative;
  width: 2.125rem;
  height: 1.375rem;
  z-index: 5
}
.icon-menu span,
.icon-menu::after,
.icon-menu::before {
  content: "";
  transition: all .3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: .229375rem;
  background-color: #fff
}
.icon-menu::before {
  top: 0
}
.icon-menu::after {
  bottom: 0
}
.icon-menu span {
  top: calc(50% - .1146875rem)
}
.menu-open .icon-menu span {
  width: 0
}
.menu-open .icon-menu::before {
  top: calc(50% - .1146875rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.menu-open .icon-menu::after {
  bottom: calc(50% - .1146875rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.page__section {
  position: relative
}
.page__section:not(:first-child)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  z-index: 1
}
.page__section:nth-child(1) {
  background: url(../img/bg/bg-stars-snow.svg) center/cover no-repeat
}
.page__section:nth-child(2) {
  background: url(../img/bg/bg-screen-2.webp) center/cover no-repeat
}
.page__section:nth-child(3) {
  background: url(../img/bg/bg-screen-3.webp) center/cover no-repeat
}
.snowflake {
  position: fixed;
  bottom: 0;
  left: -15.5%;
  max-width: 524px;
  max-height: 524px;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden
}
.snowflake img {
  max-width: 100%
}
.primary {
  display: flex;
  align-items: flex-end
}
.primary__container {
  max-width: 73.4375rem;
  position: relative;
  z-index: 2
}
.primary__body,
.primary__container {
  width: 100%;
  height: 100%
}
.primary__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative
}
.primary__box {
  max-width: 452px
}
.primary__button {
  padding: .625rem 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  border: 2px solid #fff;
  background-color: transparent;
  transition-property: border-radius,scale;
  transition-duration: .3s;
  transition-timing-function: ease-in-out
}
.primary__button:active {
  border-radius: 1.25rem 0 1.25rem 1.25rem;
  background-color: rgba(255,255,255,.5)
}
.primary__santa {
  position: absolute;
  bottom: 0;
  max-width: 1000px;
  max-height: 580px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  z-index: -1
}
.primary__wrap-text {
  position: absolute;
  top: 28%;
  left: 10%;
  width: 280px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/bg/cloud.webp) center/cover no-repeat;
  padding-right: 1.125rem;
  padding-bottom: .25rem
}
.primary__wrap-text span {
  font-family: Risque;
  font-size: 1.125rem;
  color: var(--text-black);
  display: inline-block
}
.primary__image img {
  min-width: 544px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}
.present {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative
}
.present__container {
  position: relative;
  z-index: 2
}
.present__body,
.present__container {
  width: 100%;
  height: 100%
}
.present__body {
  display: flex;
  flex-direction: column;
  justify-content: center
}
.feedback {
  padding-top: 130px;
  padding-bottom: 80px
}
.feedback__container {
  position: relative;
  z-index: 2
}
.feedback__body,
.feedback__container {
  width: 100%;
  height: 100%
}
.feedback__body {
  display: flex;
  flex-direction: column;
  justify-content: center
}
.feedback__form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  max-width: 468px;
  width: 100%
}
.feedback__form .checkbox,
.feedback__form textarea {
  grid-column: 2 span
}
@media (min-width:81.875em) {
  .tabs__navigation {
    margin-top: 1.875rem
  }
  .h1-title {
    font-size: 4.5rem
  }
  .h2-title {
    font-size: 3.5rem
  }
  .h3-title {
    font-size: 2.375rem
  }
  .header {
    margin-top: 2.5rem
  }
  .primary__box {
    margin-bottom: 2.125rem
  }
  .primary__sub-title {
    margin-top: 1.25rem
  }
  .primary__button {
    margin-top: 1.75rem
  }
  .primary__santa {
    right: -16.375rem
  }
  .present__sub-title {
    margin-top: 1.875rem
  }
  .feedback__form {
    margin-top: 1.875rem
  }
}
@media (max-width:81.875em) {
  .tabs {
    flex-direction: column;
    align-items: center
  }
  .tabs__wrap {
    max-width: 100%
  }
  .tabs__button {
    width: 110px;
    height: 110px
  }
  .tabs__content {
    max-width: 800px;
    margin-top: 74px
  }
  .tabs__body-info {
    max-width: 100%
  }
  .fp-bullets {
    right: 1.25rem
  }
  .snowflake {
    display: none
  }
  .primary__wrap-text {
    display: none
  }
}
@media (max-width:47.99875em) {
  .header__menu {
    max-width: -webkit-max-content;
    max-width: max-content;
    justify-content: flex-end
  }
  .menu-line {
    display: none
  }
  .menu__wrap {
    padding: 0;
    max-width: 450px;
    max-height: 360px;
    left: 16%;
    bottom: 18%
  }
  html.menu-open .menu__body,
  html.menu-open .menu__body::after {
    top: -434.6666666667px;
    right: -424.6666666667px;
    width: calc(95rem / 1.5);
    height: calc(95rem / 1.35)
  }
  .primary {
    padding-top: 220px;
    min-height: 820px
  }
  .primary__body {
    justify-content: space-between
  }
  .primary__santa {
    position: relative;
    align-items: center;
    justify-content: center
  }
}
@media (max-width:39.99875em) {
  .tabs__content {
    border: none
  }
  .tabs__block {
    flex-direction: column-reverse
  }
  .tabs__body-info {
    margin: 20px 0 0 0;
    text-align: center
  }
  .tabs__body-info p {
    text-align: left
  }
  .primary__santa {
    left: 0;
    right: 0
  }
}
@media (max-width:29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    flex-direction: row;
    right: 50%
  }
  .primary__button {
    margin-left: auto;
    margin-right: auto
  }
  .feedback__form {
    grid-template-columns: 1fr
  }
  .feedback__form .checkbox,
  .feedback__form textarea {
    grid-column: auto
  }
}
@media (max-width:28.125em) {
  .tabs__navigation {
    margin-top: 2.125rem
  }
  .h1-title {
    font-size: 3.25rem
  }
  .h2-title {
    font-size: 3.25rem
  }
  .h3-title {
    font-size: 1.75rem
  }
  .header {
    margin-top: 1.875rem
  }
  .primary__box {
    margin-bottom: 4.75rem
  }
  .primary__sub-title {
    margin-top: .9375rem
  }
  .primary__button {
    margin-top: 2.5rem
  }
  .primary__santa {
    right: .0000000625rem
  }
  .present__sub-title {
    margin-top: 1.5625rem
  }
  .feedback__form {
    margin-top: 1.5625rem
  }
}
@media (min-width:28.125em) and (max-width:81.875em) {
  @supports (margin-top:clamp(1.875rem ,2.2558139535rem + -0.4651162791vw ,2.125rem)) {
    .tabs__navigation {
      margin-top: clamp(1.875rem ,2.2558139535rem + -.4651162791vw ,2.125rem)
    }
  }
  @supports not (margin-top:clamp(1.875rem ,2.2558139535rem + -0.4651162791vw ,2.125rem)) {
    .tabs__navigation {
      margin-top: calc(2.125rem + -.25 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (font-size:clamp(3.25rem ,2.5959302326rem + 2.3255813953vw ,4.5rem)) {
    .h1-title {
      font-size: clamp(3.25rem ,2.5959302326rem + 2.3255813953vw ,4.5rem)
    }
  }
  @supports not (font-size:clamp(3.25rem ,2.5959302326rem + 2.3255813953vw ,4.5rem)) {
    .h1-title {
      font-size: calc(3.25rem + 1.25 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (font-size:clamp(3.25rem ,3.1191860465rem + 0.4651162791vw ,3.5rem)) {
    .h2-title {
      font-size: clamp(3.25rem ,3.1191860465rem + .4651162791vw ,3.5rem)
    }
  }
  @supports not (font-size:clamp(3.25rem ,3.1191860465rem + 0.4651162791vw ,3.5rem)) {
    .h2-title {
      font-size: calc(3.25rem + .25 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (font-size:clamp(1.75rem ,1.4229651163rem + 1.1627906977vw ,2.375rem)) {
    .h3-title {
      font-size: clamp(1.75rem ,1.4229651163rem + 1.1627906977vw ,2.375rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,1.4229651163rem + 1.1627906977vw ,2.375rem)) {
    .h3-title {
      font-size: calc(1.75rem + .625 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (margin-top:clamp(1.875rem ,1.5479651163rem + 1.1627906977vw ,2.5rem)) {
    .header {
      margin-top: clamp(1.875rem ,1.5479651163rem + 1.1627906977vw ,2.5rem)
    }
  }
  @supports not (margin-top:clamp(1.875rem ,1.5479651163rem + 1.1627906977vw ,2.5rem)) {
    .header {
      margin-top: calc(1.875rem + .625 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (margin-bottom:clamp(2.125rem ,6.1235465116rem + -4.8837209302vw ,4.75rem)) {
    .primary__box {
      margin-bottom: clamp(2.125rem ,6.1235465116rem + -4.8837209302vw ,4.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.125rem ,6.1235465116rem + -4.8837209302vw ,4.75rem)) {
    .primary__box {
      margin-bottom: calc(4.75rem + -2.625 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (margin-top:clamp(0.9375rem ,0.7739825581rem + 0.5813953488vw ,1.25rem)) {
    .primary__sub-title {
      margin-top: clamp(.9375rem ,.7739825581rem + .5813953488vw ,1.25rem)
    }
  }
  @supports not (margin-top:clamp(0.9375rem ,0.7739825581rem + 0.5813953488vw ,1.25rem)) {
    .primary__sub-title {
      margin-top: calc(.9375rem + .3125 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (margin-top:clamp(1.75rem ,2.8924418605rem + -1.3953488372vw ,2.5rem)) {
    .primary__button {
      margin-top: clamp(1.75rem ,2.8924418605rem + -1.3953488372vw ,2.5rem)
    }
  }
  @supports not (margin-top:clamp(1.75rem ,2.8924418605rem + -1.3953488372vw ,2.5rem)) {
    .primary__button {
      margin-top: calc(2.5rem + -.75 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (right:clamp(-16.375rem ,8.5683140487rem + -30.4651163953vw ,0.0000000625rem)) {
    .primary__santa {
      right: clamp(-16.375rem ,8.5683140487rem + -30.4651163953vw ,.0000000625rem)
    }
  }
  @supports not (right:clamp(-16.375rem ,8.5683140487rem + -30.4651163953vw ,0.0000000625rem)) {
    .primary__santa {
      right: calc(.0000000625rem + -16.3750000625 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (margin-top:clamp(1.5625rem ,1.3989825581rem + 0.5813953488vw ,1.875rem)) {
    .present__sub-title {
      margin-top: clamp(1.5625rem ,1.3989825581rem + .5813953488vw ,1.875rem)
    }
  }
  @supports not (margin-top:clamp(1.5625rem ,1.3989825581rem + 0.5813953488vw ,1.875rem)) {
    .present__sub-title {
      margin-top: calc(1.5625rem + .3125 * (100vw - 28.125rem)/ 53.75)
    }
  }
  @supports (margin-top:clamp(1.5625rem ,1.3989825581rem + 0.5813953488vw ,1.875rem)) {
    .feedback__form {
      margin-top: clamp(1.5625rem ,1.3989825581rem + .5813953488vw ,1.875rem)
    }
  }
  @supports not (margin-top:clamp(1.5625rem ,1.3989825581rem + 0.5813953488vw ,1.875rem)) {
    .feedback__form {
      margin-top: calc(1.5625rem + .3125 * (100vw - 28.125rem)/ 53.75)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #fff;
    border-color: var(--accent);
    color: var(--accent)
  }
  .select__option:hover {
    color: #d02b2b
  }
  .fp-bullets .fp-bullet:hover {
    opacity: 1
  }
  .primary__button:hover {
    border-radius: 1.25rem 0 1.25rem 1.25rem;
    scale: 1.1;
    background-color: rgba(255,255,255,.5)
  }
}
@media (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}