.checkbox {
	position: relative;
	display: flex;

	&:not(:last-child) {
		margin-bottom: toRem(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus-visible + .checkbox__label:before {
			box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:before {
			background: url('../img/icon/select-check.svg') center/11px no-repeat;
			background-color: #fff;
		}
	}
	// .checkbox__label
	&__label {
		color: #fff;
		cursor: pointer;
		display: inline-flex;
		position: relative;
		gap: 10px;
		transition: border-color .2s ease;
		
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 2px solid #D02B2B;
			border-radius: 4px;
		}
	}
	// .checkbox__text
	&__text {
		align-self: center;
	}

	&._form-error .checkbox__label {
		color: #D02B2B;
	}
}
